@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* styles.css or your existing CSS file */
a {
  position: relative;
  text-decoration: none;
}
a:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
a:hover:after {
  transform: scaleX(1);
}
a.selected:after {
  transform: scaleX(1);
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.3s ease forwards;
}
