@tailwind base;
@tailwind components;
@tailwind utilities;
@layer theme, base, clerk, components, utilities;

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  @apply scroll-smooth;
}

.product {
  --product-background: #ffffff;
  --product-foreground: #171717;
  --product-primary: #ffc107;
  --product-secondary: #010e58;
  --product-primary-accent: #e5c230;
  --product-foreground-accent: #454545;
  --hero-product-background: #F3F3F5;
  @apply text-lg;
  color: var(--product-foreground);
  background: var(--product-background);
}

.home #logos svg {
  @apply w-fit h-10 sm:h-12;
}

.home .benefit-section:last-of-type > div {
  @apply mb-10;
}

/* styles.css or your existing CSS file */
a {
  position: relative;
  text-decoration: none;
}
.main-theme {
  --primary: #1c1c1c;              
  --secondary: #666666;            
  --accent: #D3AF37;               
  --card: #FFFFFF;                
  --foreground: #333333;
  --button: #ffffffff;           
  --background: #FFFFFF;           
  --primary-foreground: #FFFFFF;   
  --secondary-foreground: #FFFFFF; 
  --card-foreground: #333333;      
}
.theme-luxury {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --heading: #1a1a1a;
  --text: #4d4d4d;
  --button: #d3af37;
  --button-text: #1a1a1a;
  --price: #d3af37;

  --card-bg: #ffffff;
  --card-text: #333333;
  --card-heading: #1a1a1a;
  --card-description: #666666;
  --card-border: #d9d9d9;

  --section-bg: #e6e6e6;
  --section-heading: #1a1a1a;
  --section-border: #d9d9d9;
  --section-icon: #d3af37;
  --section-hover: #f2f2f2;
}


.theme-creative {
  --background: #1d1e28;
  --foreground: #f8f8f1;
  --heading: #f8f8f1;
  --text: #aab7d4;
  --button: #ff6b6b;
  --button-text: #f8f8f1;
  --price: #ff6b6b;

  --card-bg: #2a2b39;
  --card-text: #f8f8f1;
  --card-heading: #ffffff;
  --card-description: #aab7d4;
  --card-border: #3c3d4f;

  --section-bg: #2a2b39;
  --section-heading: #f8f8f1;
  --section-border: #3c3d4f;
  --section-icon: #f8f8f1;
  --section-hover: #343545;
}


.theme-organic {
  --background: #f5f2de;
  --foreground: #354834;
  --primary: #5c7453;
  --secondary: #cba463;
  --accent: #c5d68f;
  --primary-foreground: #f5f2de;
  --secondary-foreground: #354834;
  --price: #cba463;

  --card-bg: #f9f7e7;
  --card-text: #354834;
  --card-heading: #486345;
  --card-description: #a58e6f;
  --card-border: #e3e0c9;

  --section-bg: #f9f7e7;
  --section-heading: #354834;
  --section-border: #e3e0c9;
  --section-icon: #5c7453;
  --section-hover: #ece8c5;
}


.theme-elegant {
  --background: #1a1a1a;
  background-image: linear-gradient(to bottom, #1a1a1a, #0f0f0f);
  --foreground: #fafafa;
  --heading: #fafafa;
  --text: #b3b3b3;
  --button: #6699cc;
  --button-text: #1a1a1a;
  --price: #ffe680;

  --card-bg: #262626;
  --card-text: #e6e6e6;
  --card-heading: #ffffff;
  --card-description: #b3b3b3;
  --card-border: #333333;

  --section-bg: #262626;
  --section-heading: #fafafa;
  --section-border: #333333;
  --section-icon: #b3b3b3;
  --section-hover: #333333;
}

.theme-modern {
  --background: #1a1a2b;
  --foreground: #ffffff;
  --primary: #8b6cb3;
  --secondary: #33334d;
  --accent: #e64676;
  --primary-foreground: #ffffff;
  --secondary-foreground: #ffffff;
  --price: #e64676;

  --card-bg: #23233a;
  --card-text: #f2f2f2;
  --card-heading: #ffffff;
  --card-description: #b3b3b3;
  --card-border: #404040;

  --section-bg: #23233a;
  --section-heading: #ffffff;
  --section-border: #404040;
  --section-icon: #e64676;
  --section-hover: #2d2d45;
}



a:after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
a:hover:after {
  transform: scaleX(1);
}
a.selected:after {
  transform: scaleX(1);
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.3s ease forwards;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.custom-loader {
  background: linear-gradient(#0000 calc(1*100%/6),#fff 0 calc(3*100%/6),#0000 0),
            linear-gradient(#0000 calc(2*100%/6),#fff 0 calc(4*100%/6),#0000 0),
            linear-gradient(#0000 calc(3*100%/6),#fff 0 calc(5*100%/6),#0000 0);
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%
  }
}
    